In [1]:
a = ['car','bike','bus','airplane','ship','helicopter']

In [2]:
a

['car', 'bike', 'bus', 'airplane', 'ship', 'helicopter']

In [3]:
a.remove(2)

ValueError: list.remove(x): x not in list

In [4]:
a

['car', 'bike', 'bus', 'airplane', 'ship', 'helicopter']

In [5]:
a.append()

TypeError: list.append() takes exactly one argument (0 given)

In [6]:
#Python Dictionaries

Python Dictionaries
- Dictionary are created using {}
- items in dictionaries are key: value based NOT on index basis

In [8]:
record2 = {"laptop":20000, "bag":30000, "handy":40000}
len(record2)

3

In [12]:
record2["handy"]

40000

#delete element
 - pop
 - pop items
 - del

In [17]:
del record2['bag']

In [18]:
record2

{'laptop': 20000, 'handy': 40000}

In [19]:
record2.pop("laptop")

20000

In [20]:
record2

{'handy': 40000}

In [25]:
record2.popitem()

('handy', 40000)

In [26]:
record1{}

SyntaxError: invalid syntax (4045342754.py, line 1)

In [27]:
record1

NameError: name 'record1' is not defined

In [28]:
record1['name'] = "Ali"

NameError: name 'record1' is not defined

In [29]:
record1 = {}

In [30]:
record1

{}

In [31]:
record1['Name'] = "Ali"

In [32]:
record1['email'] = "rafayshaikh@gmail.com"

In [33]:
record1

{'Name': 'Ali', 'email': 'rafayshaikh@gmail.com'}

In [34]:
temp_dic = {1:1, 2:8, 3:27, 4:64, 5:125, 2:88}

In [35]:
#repeated keys will reassign new updated value in memory
# previous one will be updated
temp_dic

{1: 1, 2: 88, 3: 27, 4: 64, 5: 125}

In [38]:
temp_dic1 = {1:'one', 2:'eight', 3:'twenty seven', 4:'sixty four', 5:125, 2:88}

In [39]:
temp_dic1

{1: 'one', 2: 88, 3: 'twenty seven', 4: 'sixty four', 5: 125}

In [40]:
temp_dic1[3][1]

'w'

In [41]:
sales = {  
    
    'items': ['cell','grinder','tv','laptop'],
    'price' : [1200,2000,25000,50000],
    'sale_man' : ['nasir', 'waseem', 'umer', 'khan'],
    'units' : [200,5,50,20]
    
    
    
}

In [42]:
import pandas as pd

In [73]:
df = pd.DataFrame(sales)
df['distributor'] = 'XYZ distributor'
df

     items  price sale_man  units      distributor
0     cell   1200    nasir    200  XYZ distributor
1  grinder   2000   waseem      5  XYZ distributor
2       tv  25000     umer     50  XYZ distributor
3   laptop  50000     khan     20  XYZ distributor

In [45]:
sales.get

In [46]:
sales.items()

dict_items([('items', ['cell', 'grinder', 'tv', 'laptop']), ('price', [1200, 2000, 25000, 50000]), ('sale_man', ['nasir', 'waseem', 'umer', 'khan']), ('units', [200, 5, 50, 20])])

In [47]:
record1

{'Name': 'Ali', 'email': 'rafayshaikh@gmail.com'}

In [48]:
record1.update({'contact':"1234567890",'course':"DS"})

In [49]:
record1

{'Name': 'Ali',
 'email': 'rafayshaikh@gmail.com',
 'contact': '1234567890',
 'course': 'DS'}

In [50]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [51]:
import pandas as pd

In [52]:
pd.Dataframe(record1)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [53]:
pd.DataFrame(record1)

ValueError: If using all scalar values, you must pass an index

In [54]:
record1

{'Name': 'Ali',
 'email': 'rafayshaikh@gmail.com',
 'contact': '1234567890',
 'course': 'DS'}

In [55]:
record1.update({'address':'karachi','job title':'professor'})

In [56]:
record1

{'Name': 'Ali',
 'email': 'rafayshaikh@gmail.com',
 'contact': '1234567890',
 'course': 'DS',
 'address': 'karachi',
 'job title': 'professor'}

In [57]:
record1.values() #return values

dict_values(['Ali', 'rafayshaikh@gmail.com', '1234567890', 'DS', 'karachi', 'professor'])

In [58]:
record1.items

In [60]:
record1.fromkeys("name")

{'n': None, 'a': None, 'm': None, 'e': None}

In [61]:
record1.fromkeys('Name')

{'N': None, 'a': None, 'm': None, 'e': None}

In [63]:
record1.setdefault('name')

In [65]:
record1.setdefault('Name')

'Ali'

In [66]:
contact = ['rafay':1, 'shaikh':2]
msg = 1,2

newmsg = dict.fromkeys(contact,msg)

In [68]:
newmsg

{'rafay': (1, 2), 'shaikh': (1, 2)}

In [74]:
df

     items  price sale_man  units      distributor
0     cell   1200    nasir    200  XYZ distributor
1  grinder   2000   waseem      5  XYZ distributor
2       tv  25000     umer     50  XYZ distributor
3   laptop  50000     khan     20  XYZ distributor

In [75]:
d = dict(foo=100, baar=200, baz=300)

In [76]:
d

{'foo': 100, 'baar': 200, 'baz': 300}

In [90]:
d = {
    ('foo',100),
    ('bar', 200),
    ('baz', 300)
    

}

In [91]:
d

{('bar', 200), ('baz', 300), ('foo', 100)}

In [92]:
type(d)

set

In [93]:
x = [ 'a', 'b', { 'foo' : 1, 'bar' :{ 'x' : 10, 'y' : 20, 'z' : 30}, 'baz':3 }, 'c','d' ]

In [94]:
x[2]['bar']['z']

30

In [95]:
keys = len[1]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [96]:
keys = 1

In [97]:
len(keys)

TypeError: object of type 'int' has no len()

In [98]:
len

In [99]:
keys = {"hello"}
len(keys)

1

In [100]:
dict(foo=1,bar=2)

{'foo': 1, 'bar': 2}

# Set

In [101]:
aset = {1,1,3,2}

In [102]:
aset

{1, 2, 3}

In [103]:
#it provides unique value and combines duplications

In [104]:
bset = {} #empty dictionary

In [105]:
type(bset)

dict

In [106]:
cset = {1}
cset

{1}

In [107]:
cset = {1,2,2,3,5,6,4,4,5,6,7,3,4,10,2,3,4,5,6,4}

In [108]:
cset

{1, 2, 3, 4, 5, 6, 7, 10}

In [109]:
cset.add[11]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [110]:
cset.add(11)

In [111]:
cset

{1, 2, 3, 4, 5, 6, 7, 10, 11}

In [112]:
cset.clear(11)

TypeError: set.clear() takes no arguments (1 given)

In [113]:
cset.clear

In [114]:
cset

{1, 2, 3, 4, 5, 6, 7, 10, 11}

In [117]:
cset.clear()

In [118]:
cset

set()

In [119]:
cset

set()

In [120]:
cset = {1, 2, 3, 4, 5, 6, 7, 10, 11}

In [121]:
cset.difference()

{1, 2, 3, 4, 5, 6, 7, 10, 11}

In [136]:
cset = {1,2,2,3,5,6,4,4,5,6,7,3,4,10,2,3,4,5,6,4,11,12}

In [137]:
cset.difference()

{1, 2, 3, 4, 5, 6, 7, 10, 11, 12}

In [124]:
cset.difference(12)

TypeError: 'int' object is not iterable

In [125]:
cset.difference_update(2)

TypeError: 'int' object is not iterable

In [126]:
cset.difference_update()

In [127]:
cset

{1, 2, 3, 4, 5, 6, 7, 10}

In [128]:
cset.discard(5)

In [129]:
cset

{1, 2, 3, 4, 6, 7, 10}

In [130]:
dset = {11,12,13,14,1,15,16,17,10}

In [138]:
dset.difference(cset)

{13, 14, 15, 16, 17}

In [134]:
cset

{1, 2, 3, 4, 6, 7, 10}

In [146]:
set1={1,2,6}
set2={3,4,6}

In [147]:
set1.difference_update(set2)

In [148]:
set1

{1, 2}

In [149]:
set2

{3, 4, 6}

In [150]:
set1.intersection(set2)

set()

In [151]:
set1

{1, 2}

In [152]:
set2

{3, 4, 6}

In [153]:
set1.isdisjoint(set2)

True

In [154]:
set1 = {1,2,3,4,6}

In [155]:
set1.isdisjoint(set2)

False

In [156]:
set1.issubset(set2)

False

In [157]:
set1.issuperset(set2)

True